* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Poppins;
}

nav {
  height: 70px;
  display: flex;
  padding: 20px 36px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.nav--logo {
  max-width: 100px;
}

.hero {
  display: flex;
  flex-direction: column;
  padding: 36px;
  align-items: center;
}

.hero > img {
  max-width: 400px;
}

.hero--words {
  display: flex;
  flex-direction: column;
  align-self: baseline;
}

.hero--words > h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 110%;
  /* identical to box height, or 40px */

  color: #000000;
  margin-bottom: 0px;
}

.hero--words > p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 110%;
  /* or 18px */

  color: #222222;
  inline-size: 320px;
  overflow-wrap: normal;
}

.card {
  margin: 37;
}
.card--image {
  position: relative;
}

.card--image > img {
  position: absolute;
  width: 176px;
  height: 235px;
}

.card--availability {
  position: absolute;
  top: 6px;
  left: 6px;
  margin-top: 0px;
  background: white;
  width: 61px;
  height: 20px;
  background: #ffffff;
  border-radius: 2px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 10.24px;
  line-height: 190%;
  /* or 11px */
  text-align: center;
  color: #222222;
  padding-bottom: 0;
  z-index: 1;
}

.card--rating {
  display: flex;
  position: relative;
  align-items: center;
  top: 230px;
  gap: 3px;
}
.card--rating > img {
  height: 14px;
  width: 14px;
}

.card--light-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 110%;
  /* identical to box height, or 13px */

  color: #918e9b;
}

.card--dark-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 110%;
  /* identical to box height, or 13px */

  color: #222222;
}
.card--desc {
  position: relative;
  top: 215px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 110%;
  /* identical to box height, or 13px */

  color: #222222;
}

.card--price {
  display: flex;
  position: relative;
  top: 190px;
  align-items: center;
  gap: 3px;
}
.card--price > h5 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 110%;
  /* identical to box height, or 13px */

  color: #222222;
}
.card--price > p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 110%;
}
